body {
    font-family: "Fira Mono",Arial,Helvetica,sans-serif;
    background-color: #26a69a;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #FFF;
    font-size: 6em;
    line-height: 12px;
}

h5 {
    color: #FFF;
}

.icons {
    text-align: right;
}

.icon {
    float: right;
    margin-left: 10px;
    height: 41px;
    width: 41px;
    background-size: 41px;
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url("../icons/linkedin.png");
}

.linkedin:hover {
    background-image: url("../icons/linkedin-hover.png");
}

.xing {
    background-image: url("../icons/xing.png");
}

.xing:hover {
    background-image: url("../icons/xing-hover.png");
}

.mail {
    background-image: url("../icons/mail.png");
}

.mail:hover {
    background-image: url("../icons/mail-hover.png");