.Bullet {
  display: block;
  height: 0.7em;
  width: 0.7em;
  background: #ffffff;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.35s;
  border-radius: 0.7em;
  margin-top: 0.7em;
}

.Bullet.active {
  opacity: 1;
}

.Bullet.black {
  transition: opacity 1s;
  background: #000000;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .Bullet {
    height: 0.5em;
    width: 0.5em;
  }
}
