.GitHubLogo {
  height: 6em;
}

.GitHubLogo-Link {
  display: block;
  margin: 0 1em 0 1em;
}

.GitHubLogo-Link:hover {
  fill: #d42d38;
}

@media only screen and (max-width: 1024px) {
  .GitHubLogo {
    height: 3em;
  }
}
