.LinkedInLogo {
  height: 6em;
}

.LinkedInLogo-Link {
  display: block;
  margin: 0 1em 0 1em;
}

.LinkedInLogo-Link:hover {
  fill: #d42d38;
}

@media only screen
and (max-width: 1024px) {
  .LinkedInLogo {
    height: 3em;
  }
}
