.ArrowUp {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 20px;
}
.ArrowUp::after,
.ArrowUp::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 4px;
}
.ArrowUp::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 6px;
}
.ArrowUp::before {
  width: 2px;
  height: 10px;
  left: 8px;
  background: currentColor;
}
#BackToTop {
  bottom: 2%;
  cursor: pointer;
  display: block;
  left: 50%;
  opacity: 1;
  position: fixed;
  transition: all 0.5s;
  z-index: 2;
}
.Bullet {
  display: block;
  height: 0.7em;
  width: 0.7em;
  background: #fff;
  cursor: pointer;
  opacity: 0.4;
  border-radius: 0.7em;
  margin-top: 0.7em;
  transition: opacity 1s;
}
.Bullet.active {
  opacity: 1;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .Bullet {
    height: 0.5em;
    width: 0.5em;
  }
}
.Bullets {
  top: 50%;
  left: 3%;
  position: fixed;
  transform: translateY(-50%);
  z-index: 2;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .Bullets {
    display: none;
  }
}
