.Header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  padding: 1rem 1rem 0 0;
  flex-direction: column;
  align-items: flex-end;
}

.header-logo {
  display: inline-block;
  text-align: right;
  text-transform: lowercase;
  line-height: 1;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
}

.header-kicker {
  color: white;
  display: block;
  font-size: 0.6rem;
}

.header-nav {
  margin: 0;
  padding: 0;
  text-align: right;
  text-transform: lowercase;
}

.header-nav-list {
  list-style: none;
}

.header-nav-list-item {
  margin-bottom: 0.1rem;
}

.Header a {
  color: #a29e5e;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
  padding: 0.3rem 0 0.2rem;
  box-shadow: inset 0 0 0 rgba(11, 0, 0, 0);
  transition: all 0.2s ease;
}

.Header a:hover {
  box-shadow: inset 0 -3px 0 white;
}
