@import "https://fonts.googleapis.com/css?family=Open+Sans:400,700|Open+Sans+Condensed:300|Oswald:300,400";
body {
  padding: 0;
  font-family: Open Sans, sans-serif;
  background: #e1e1e1;
  color: #575757;
}
body,
p {
  margin: 0;
}
.Bullet {
  display: block;
  height: 0.7em;
  width: 0.7em;
  background: #fff;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.35s;
  border-radius: 0.7em;
  margin-top: 0.7em;
  transition: opacity 1s;
}
.Bullet.active {
  opacity: 1;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .Bullet {
    height: 0.5em;
    width: 0.5em;
  }
}
.Bullets {
  top: 50%;
  left: 3%;
  position: fixed;
  transform: translateY(-50%);
  z-index: 2;
}
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .Bullets {
    display: none;
  }
}
.Page {
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  width: 100%;
}
.GitHubLogo {
  height: 6em;
}
.GitHubLogo-Link {
  display: block;
  margin: 0 1em;
}
.GitHubLogo-Link:hover {
  fill: #d42d38;
}
@media only screen and (max-width: 1024px) {
  .GitHubLogo {
    height: 3em;
  }
}
.LinkedInLogo {
  height: 6em;
}
.LinkedInLogo-Link {
  display: block;
  margin: 0 1em;
}
.LinkedInLogo-Link:hover {
  fill: #d42d38;
}
@media only screen and (max-width: 1024px) {
  .LinkedInLogo {
    height: 3em;
  }
}
.MailLogo {
  height: 4em;
}
.MailLogo-Link {
  display: block;
  margin: 0 1em;
}
.MailLogo-Link:hover {
  fill: #d42d38;
}
@media only screen and (max-width: 1024px) {
  .MailLogo {
    height: 2em;
  }
}
.ContactPage-Container {
  height: 100%;
  width: 100%;
  display: flex;
}
.ContactPage-LeftContainer {
  flex: 3;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ContactPage-Picture {
  background-size: cover;
  background-image: url(ContactPage.580594e6.jpg);
  height: 23em;
  width: 23em;
  border-radius: 50%;
}
.ContactPage-RightContainer {
  flex: 5;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.ContactPage-Methods {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.ContactPage-Text {
  font-size: 2em;
  margin: 0 0 0.5em;
  color: #000;
}
@media only screen and (max-width: 1024px) {
  .ContactPage-Picture {
    height: 10em;
    width: 10em;
  }
  .ContactPage-Container {
    flex-direction: column-reverse;
  }
}
.WelcomePage {
  font-weight: 700;
  text-align: center;
}
.WelcomePage-LargeText {
  font-size: 7em;
  margin: 0;
}
.WelcomePage-Text {
  font-size: 2em;
  margin: 0 0 0.5em;
}
.UtcnLogo {
  height: 8em;
  width: auto;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 1024px) {
  .UtcnLogo {
    height: 5em;
  }
}
.ArobsLogo {
  height: 8em;
  width: auto;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 1024px) {
  .ArobsLogo {
    height: 7em;
  }
}
.AgilioLogo {
  height: 8em;
  width: auto;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 1024px) {
  .AgilioLogo {
    height: 7em;
  }
}
.HoneyTracksLogo {
  height: 8em;
  width: auto;
}
@media only screen and (max-width: 1024px) {
  .HoneyTracksLogo {
    height: 6em;
  }
}
.InterNationsLogo {
  height: 8em;
  width: auto;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 1024px) {
  .InterNationsLogo {
    height: 6em;
  }
}
.OttonovaLogo {
  height: 8em;
  width: auto;
  margin-bottom: 0.5em;
}
@media only screen and (max-width: 1024px) {
  .OttonovaLogo {
    height: 7em;
  }
}
.Timeline {
  height: 100%;
  flex: 0.2;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}
.Timeline-DateContainer {
  background-color: #fff;
  text-transform: uppercase;
  border-radius: 50%;
  height: 6em;
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Timeline-Date {
  padding: 5px;
  font-size: 1em;
  text-align: center;
}
.Timeline-Top {
  margin-top: 2em;
}
.Timeline-Bottom {
  margin-bottom: 2em;
}
@media only screen and (max-width: 1024px) {
  .Timeline-DateContainer {
    height: 4em;
    width: 4em;
  }
  .Timeline-Date {
    font-size: 0.8em;
  }
}
.KiLabsLogo {
  height: 7em;
  width: auto;
}
.CompanyPage-LeftContainer {
  flex: 3;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.CompanyPage-Company {
  width: 60%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.CompanyPage-LogoLink {
  fill: #fff;
}
.CompanyPage-CompanyName {
  font-size: 2.1em;
  letter-spacing: 0.05rem;
  font-family: Oswald, sans-serif;
  font-weight: 400;
}
.CompanyPage-CompanyTitle {
  font-size: 1.7em;
  font-family: Oswald, sans-serif;
  font-weight: 300;
}
.CompanyPage-RightContainer {
  flex: 5;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.CompanyPage-DescriptionContainer {
  width: 75%;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
.CompanyPage-Description {
  margin-top: 1em;
}
@media only screen and (max-width: 1024px) {
  .CompanyPage-CompanyName {
    font-size: 1.1em;
  }
  .CompanyPage-CompanyTitle {
    font-size: 0.7em;
  }
  .CompanyPage-DescriptionContainer {
    font-size: 0.8em;
  }
}
